<div class="jumbotron">
  <h1 class="display-4">Mo-theque!</h1>
  <p class="lead">Cras tincidunt volutpat lacus, vitae suscipit dolor suscipit sed. Sed et rutrum arcu. Vestibulum diam sem, commodo eu arcu in, varius molestie mi. Nam sit amet luctus felis.</p>
  <p class="lead">Nulla massa purus, lobortis quis metus eu, lobortis maximus dui. Phasellus non nibh consectetur felis laoreet accumsan. </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Vestibulum at</a>
</div>
